/src/mcm440-phone-app-mpp-build-desktop/img/dialer_call.png
/src/mcm440-phone-app-mpp-build-desktop/img/dialer_display.png
/src/mcm440-phone-app-mpp-build-desktop/img/dialerkey_down.png
/src/mcm440-phone-app-mpp-build-desktop/img/dialerkey_up.png
/src/mcm440-phone-app-mpp-build-desktop/main.o
/src/mcm440-phone-app-mpp-build-desktop/Makefile
/src/mcm440-phone-app-mpp-build-desktop/mcm440-phone-app
/src/mcm440-phone-app-mpp-build-desktop/moc_ofono.cpp
/src/mcm440-phone-app-mpp-build-desktop/moc_ofono.o
/src/mcm440-phone-app-mpp-build-desktop/ofono.o
/src/mcm440-phone-app-mpp-build-desktop/qml/DialerButton.qml
/src/mcm440-phone-app-mpp-build-desktop/qml/DialerDisplay.qml
/src/mcm440-phone-app-mpp-build-desktop/qml/DialerKey.qml
/src/mcm440-phone-app-mpp-build-desktop/qml/Dialer.qml
/src/mcm440-phone-app-mpp-build-desktop/gsm.o
/src/mcm440-phone-app-mpp-build-desktop/img/img/dialer_call.png
/src/mcm440-phone-app-mpp-build-desktop/img/img/dialer_display.png
/src/mcm440-phone-app-mpp-build-desktop/img/img/dialerkey_down.png
/src/mcm440-phone-app-mpp-build-desktop/img/img/dialerkey_up.png
/src/mcm440-phone-app-mpp-build-desktop/moc_gsm.cpp
/src/mcm440-phone-app-mpp-build-desktop/moc_gsm.o
/src/mcm440-phone-app-mpp-build-desktop/moc_OfonoModem.cpp
/src/mcm440-phone-app-mpp-build-desktop/moc_OfonoModem.o
/src/mcm440-phone-app-mpp-build-desktop/moc_OfonoSimManager.cpp
/src/mcm440-phone-app-mpp-build-desktop/moc_OfonoSimManager.o
/src/mcm440-phone-app-mpp-build-desktop/moc_OfonoVoiceCallManager.cpp
/src/mcm440-phone-app-mpp-build-desktop/moc_OfonoVoiceCallManager.o
/src/mcm440-phone-app-mpp-build-desktop/OfonoModem.o
/src/mcm440-phone-app-mpp-build-desktop/OfonoSimManager.o
/src/mcm440-phone-app-mpp-build-desktop/OfonoVoiceCallManager.o
/src/mcm440-phone-app-mpp-build-desktop/qml/qml/DialerButton.qml
/src/mcm440-phone-app-mpp-build-desktop/qml/qml/DialerDisplay.qml
/src/mcm440-phone-app-mpp-build-desktop/qml/qml/DialerKey.qml
/src/mcm440-phone-app-mpp-build-desktop/qml/qml/Dialer.qml
